header{
    height: 70px;
      
  }
  #navbar {
    overflow: hidden;
    background-color: RGB (255,255,255);
    font-family:system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    align-items: center;
  }
  #navbar a {
    float: left;
    display: block;
    color: #000000;
    text-align: center;
    padding: 14px;
    text-decoration: none;
    font-size: 17px;
  }
  .content {
      padding: 16px;
  }
    
  .sticky {
    position: fixed;
    top: 0;
    width: 100%;
  }
  .sticky + .content {
      padding-top: 60px;
    }
  #tk1{
    width: 500px;
    font-size: 16px;
    background-color: none;
    border: 4px solid black ;
    outline: none;
    border: none;
    border-bottom: 2px solid black;
  }
  #anh{
    margin-left:2px
  }
  ul.products{
    list-style: none;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    text-decoration: none;
    padding: 10px 200px;
  }
  .products {
    list-style: none;
    display: flex;
  }
  .anhsanpham {
    display: flex;
    flex-direction: column;
}
.anhsanpham-lon img {
    max-width: 400px;
    height: auto;
    border-radius: 8px;
}
.anhsanpham-nho img {
    max-width: 120px;
    height: auto;
    border-radius: 8px;
    margin-top: 5px;
    display: inline-block;
}
.anhsanpham-nho{
    display: flex;
    justify-content: space-between;
    margin-top: 20px;
}
.thongtinsanpham {
    padding-left: 90px;
    padding-bottom: 20px;
}
.thongtinsanpham h1 {
    font-size: 24px;
    margin-bottom: 10px;
}
.thongtinsanpham p {
    font-size: 18px;
    margin-bottom: 10px;
}
.thongtinsanpham .price {
    font-size: 20px;
    font-weight: bold;
    color: #333;
}
.product{
    display: flex;
}
#sanpham1{
    text-align: center;
    font-size: 20px;
    border: 4px solid black;
    display: inline-block;
    padding: 3px;
    margin-left: 650px;
    margin-bottom: 20px;
  }
  .button {
    border-radius: 10px;
    background: #00000068;
    border: 1px solid #1112123b;
    box-shadow: rgba(0, 0, 0, 0.1) 1px 2px 4px;
    box-sizing: border-box;
    color: #FFFFFF;
    display: inline-block;
    font-family: nunito,roboto,proxima-nova,"proxima nova",sans-serif;
    font-size: 16px;
    font-weight: 1000;
    line-height: 16px;
    width: 200px;
    min-height: 40px;
    outline: 0;
    padding: 12px 14px;
    text-align: center;
    text-rendering: geometricprecision;
    text-transform: none;
    user-select: none;
    -webkit-user-select: none;
    touch-action: manipulation;
    vertical-align: middle;
  }
  .button:hover,
  .button:active {
    background-color: initial;
    background-position: 0 0;
    color: #000000;
    text-decoration: none;
  }
  
  .button:active {
    opacity: .5;
  }
